@use '../styles/partials/variables.scss' as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Patrick Hand", cursive;
}

.container{
    padding: 1% 15%;
}

.logo{
    height: 50px;

}

a{
    color: white;
    text-decoration: none;
    

}

.button{
    background-color:#e9d758 ;
    padding: 15px 25px;
    margin: 15px;
    border-radius: 25px;
    font-weight: bold;
    color: $color-white;
    cursor: pointer;

    
    &:hover{
      background-color: $color-white ;
      color:#d86b6e;
      border: 1px solid  #d86b6e;
    }
}